<section class="fullscreen p-1 side-text" >

    <div class=" w-full h-[10%] " >
        <div  class="h-full w-1/6 center " >
            <img alt="pause" *ngIf="!music_service.paused" class="h-[70%]" src="/music/pause.png" (click)="music_service.pause()"/>
            <img alt="play" *ngIf="music_service.paused" class="h-[70%]" src="/music/play.png" (click)="music_service.resume()"/>
        </div>

    </div>

    <div class=" w-full h-[8%] border-[0.2px]  border-r-0 border-l-0 border-gray-600 center" >
        <p *ngIf="music_service.playingSong != ''; else noSong" class="orangeT font-bold">{{music_service.playingSong}}</p>
    </div>

    <div class="h-[82%] w-full flex flex-col p-[4px] gap-[3px] tablet:p-2 tablet:gap-1 overflow-y-scroll">
        <ng-container *ngFor="let track of tracks">
            <p [Description]="'play |'.concat(track.name) " class="greenT text-left hover:text-white hover:cursor-default" (click)="play(track.id)">{{track.name}}</p>
        </ng-container>
    </div>
</section>

<ng-template #noSong>
    <p class="orangeT font-bold">Play a song</p>
</ng-template>
