<main class="fullscreen absolute">
    <!-- Left border -->
    <div class="bg-red-500 w-1.5 laptop:w-2 h-1/2 absolute bg-[url('/Sprites/8075.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1.5 laptop:w-2 h-1/2 absolute top-1/2 bg-[url('/Sprites/8075.png')] bg-center bg-contain"></div>
    <!-- Right border -->
    <div class="bg-red-500 w-1.5 laptop:w-2 h-1/2 absolute right-0 bg-[url('/Sprites/8075.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1.5 laptop:w-2 h-1/2 absolute right-0 top-1/2 bg-[url('/Sprites/8075.png')] bg-center bg-contain"></div>

    <!-- Top border -->
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute top-0  bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute top-0 left-1/3 bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute top-0 left-2/3 bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>

    <!-- Bottom border -->
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute bottom-0  bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute bottom-0 left-1/3 bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>
    <div class="bg-red-500 w-1/3 h-1.5 laptop:h-2 absolute bottom-0 left-2/3 bg-[url('/Sprites/8071.png')] bg-center bg-contain"></div>

    <div class="w-6 h-6 laptop:w-10 laptop:h-10 absolute left-[-1px] rotate-180">
        <img class="fullscreen" src="/Sprites/8138.png"/>
    </div>
    <div class="w-6 h-6 laptop:w-10 laptop:h-10 absolute right-0 rotate-[270deg]">
        <img class="fullscreen" src="/Sprites/8138.png"/>
    </div>
    <div class="w-6 h-6 laptop:w-10 laptop:h-10 absolute left-[-1px] bottom-0 rotate-90">
        <img class="fullscreen" src="/Sprites/8138.png"/>
    </div>
    <div class="w-6 h-6 laptop:w-10 laptop:h-10 absolute right-0 bottom-0">
        <img class="fullscreen" src="/Sprites/8138.png"/>
    </div>

</main>