<main>
    <section class=" lg:w-60 lg:h-[20rem] xl:w-96 xl:h-[30rem] bg-red-600 absolute bottom-[3.6rem] right-[0.7rem]">
        <ng-container [ngTemplateOutlet]="selection">

        </ng-container>
    </section>
    <nav class="flex justify-center gap-2 lg:w-60 lg:h-[3rem] xl:w-96 xl:h-[3rem] absolute bottom-2.5 right-[0.7rem] p-1 bg-[url('/Sprites/texture.png')]">
        
        <ng-container *ngFor="let option of options">
            <app-navoption [imageUrl]="option.imageUrl" (click)="updateSelection(option.id)"/>
        </ng-container>
        
    </nav>
</main>

<ng-template #skills>
    <app-skills/>
</ng-template>
<ng-template #settings>
    <app-settings/>
</ng-template>