<main class="fullscreen">
    
    <app-menu-header [option]="selection"/>

    <!-- Nav bar with a list of Options as input and  output that calls updateSelection-->
    <app-nav [type]="navEnum.upper"  [options]="upperOptions" (optionSelected)="updateSelection($event)"/>

    <section class=" w-full h-[70%] bg-[url('/Sprites/textureNew.png')] bg-repeat relative">
        
        <div class="glassy absolute w-full h-0.5 bg-red-500"></div>
        <div class="glassy absolute w-full h-0.5 bottom-0 bg-red-500"></div>
        <div class="glassy absolute h-full w-0.5 left-0 bg-red-500"></div>
        <div class="glassy absolute  h-full w-0.5 right-0 bg-red-500"></div>
        
        <ng-container [ngTemplateOutlet]="selectedTemplate"></ng-container>
    </section>

    <app-nav [type]="navEnum.bottom" [options]="bottomOptions" (optionSelected)="updateSelection($event)"/>
    
    

</main>




<ng-template #backpack>
    <app-backpack/>
</ng-template>
<ng-template #summary>
    <app-summary/>
</ng-template>


<ng-template #about>
    <app-about/>
</ng-template>
<ng-template #account>
    <app-account/>
</ng-template>
<ng-template #music>
    <app-music/>
</ng-template>
<ng-template #settings>
    <app-settings/>
</ng-template>