




<nav *ngIf="type == navEnum.upper" class=" h-[9%] lg:h-[8%] bg-[url('/Sprites/textureNew.png')] flex pt-0.5">

    <ng-container *ngFor="let option of options">

        <div 
        [Description]="option.description" 
        [style.background]="selected == option.id ? '#b2b2cd26': '#b2b2cd14'" 
        class=" w-10 shaped center ml-1 glassy cursor-pointer" 
        (click)="changeSelection(option)">

            <img class="h-[70%]" [src]="option.imageUrl"/>

        </div>


    </ng-container>
 
</nav>

<nav *ngIf="type == navEnum.bottom" class="h-[12%] lg:h-[12%] bg-[url('/Sprites/textureNew.png')]">
    <section class="fullscreen center gap-2">
        <ng-container *ngFor="let option of options">

            <div [Description]="option.description" class="center h-[70%] lg:h-[70%]  bg-gray-600  outterbox hover:cursor-pointer" (click)="changeSelection(option)">
                
                <div 
                [style.background]="option.color" 
                class="w-[98%] h-[98%] innerbox center border-black  bg-red-950">
                    
                    <img class="fullscreen" [src]="option.imageUrl"/>
                
                </div>
               
            </div>


        </ng-container>
    </section>    
</nav>