




<nav *ngIf="type == navEnum.upper" class=" h-[9%] lg:h-[8%] bg-[url('/Sprites/textureNew.png')] flex pt-0.5 ">

    <ng-container *ngFor="let option of options">

        <div 
        [Description]="option.description" 
        [style.background]="selected == option.id ? '#b2b2cd26': '#b2b2cd14'" 
        class=" w-10 shaped center ml-1 glassy2 cursor-pointer" 
        (click)="changeSelection(option)">

            <img alt="option" class="h-[70%]" [src]="option.imageUrl"/>

        </div>


    </ng-container>
 
</nav>

<nav *ngIf="type == navEnum.bottom" class="h-[12%] lg:h-[12%] bg-[url('/Sprites/textureNew.png')] relative overflow-hidden">
    <div class="glassy2 absolute w-full h-1 bottom-0 bg-red-500"></div>
    <div class="glassy2 absolute h-full w-1 left-0 bg-red-500"></div>
    <div class="glassy2 absolute h-full w-1 right-0 bg-red-500"></div>
    <section class="fullscreen center gap-1 ">
        <ng-container *ngFor="let option of options">

            <div [Description]="option.description" 
            class="center bg-gray-600  outterbox hover:cursor-pointer sm:w-10 sm:h-10 lg:w-7 lg:h-7 xl:w-8 xl:h-8 2xl:w-12 2xl:h-12" 
            (click)="changeSelection(option)">
                
                <div 
                [style.background]="option.color" 
                class="fullscreen innerbox center border-black bg-red-950">
                    
                    <img [alt]="option.description" class="fullscreen" [src]="option.imageUrl"/>
                
                </div>
               
            </div>


        </ng-container>
    </section>    
</nav>

<!-- w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-6 lg:h-6 xl:w-8 xl:h-8 2xl:w-12 2xl:h-12 -->