/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.corner {
    border-radius: 0px;
    background:
        radial-gradient(circle at top left, transparent 10%, #252633 0),
        radial-gradient(circle at top right, transparent 10%, #252633 0),
        radial-gradient(circle at bottom left, transparent 10%, #252633 0),
        radial-gradient(circle at bottom right, transparent 10%, #252633 0);

    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;

    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    
}

.corner2 {
    border-radius: 0px;
    background:
        radial-gradient(circle at top left, transparent 6%, #252633 0),
        radial-gradient(circle at top right, transparent 6%, #252633 0),
        radial-gradient(circle at bottom left, transparent 6%, #252633 0),
        radial-gradient(circle at bottom right, transparent 6%, #252633 0);

    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;

    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

