
<main class="fullscreen center p-2 side-text orangeT leading-[1rem] ">
    <section class="fullscreen flex flex-wrap gap-1 overflow-scroll overflow-x-hidden">
        
        <div class="w-[48%]  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Age:
                </p>
                <div class="center gap-1">
                    <img alt="sand clock" class="w-5 lg:w-7" src="/Sprites/age.png"/>
                    <p class=" greenT">23</p>
                </div>
            </div>
        </div>


        <div class="w-[48%] center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Open Tabs:
                </p>
                <div class="center gap-1">
                    <img alt="weight" class="w-5 lg:w-7" src="/Sprites/tabs.png"/>
                    <p class=" greenT">+99</p>
                </div>
            </div>
        </div>

        <div class="w-[98%] text-nowrap">
            <div class="corner2 fullscreen gap-1 center p-1">

                <p>Living in:</p>

                <p class=" text-blue-600">Argentina</p>

                
            </div>

        </div>

        <div class="w-[48%]  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Frameworks:
                </p>
                <div class="center gap-1">
                    <img alt="blue star" class="w-5 lg:w-7" src="/Sprites/framework.png"/>
                    <p class=" greenT">5</p>
                </div>
            </div>
        </div>

        <div class="w-[48%]  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Known online as:
                </p>
                <div class="center gap-1">
                    <img alt="green start" class="w-5 lg:w-7" src="/Sprites/known.png"/>
                    <p class=" greenT">GUSUM</p>
                </div>
            </div>
        </div>

        <div class="w-[48%]   center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Coffees:
                </p>
                <div class="center">
                    <img alt="coffee" class="w-5 lg:w-7" src="/Sprites/coffee.png"/>
                    <p class=" greenT ml-0.5">+999</p>
                </div>
            </div>
        </div>

        <div class="w-[48%]   center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    CS Degree Coruses:
                </p>
                <div class="center gap-1">
                    <img alt="book" class="w-5 lg:w-7"  src="/Sprites/book.png"/>
                    <p class=" greenT ">17/18</p>
                </div>
            </div>
        </div>
        <div class="w-[98%]  text-nowrap">
            <div class="corner2 fullscreen gap-1 center p-1">

                <p>  Programming since:</p>

                <p class=" greenT">2017</p>

                
            </div>

        </div>
    </section>
</main>