
<main class="fullscreen center p-1 tablet:p-2 ">
    <section class="w-full h-[100%] grid grid-cols-2 grid-rows-8 gap-0.5 tablet:gap-1">

        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    Age:
                </p>
                <div class="center gap-1">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7" src="/Sprites/age.png"/>
                    <p class="sideText text-[#38d832]">23</p>
                </div>
            </div>
        </div>


        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    Open Tabs:
                </p>
                <div class="center gap-1">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7" src="/Sprites/tabs.png"/>
                    <p class="sideText text-[#38d832]">+99</p>
                </div>
            </div>
        </div>

        <div class="fullscreen col-span-2 ">
            <div class="corner2 w-full h-full bg-black center p-1 tablet:p-2 overflow-hidden">
                <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7 mr-1 " src="/Sprites/xp.png"/>
                <p class="sideText text-[#ef8f30] ">
                    Actual Job: 
                </p>

                <p class="sideText text-[#38d832] ml-1">Just Four Steps</p>

                
            </div>

        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    Explored Frameworks:
                </p>
                <div class="center gap-1">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7" src="/Sprites/framework.png"/>
                    <p class="sideText text-[#38d832]">5</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    Known in internet as:
                </p>
                <div class="center gap-1">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7" src="/Sprites/known.png"/>
                    <p class="sideText text-[#38d832]">GUSUM</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    Coffees Consumed:
                </p>
                <div class="center ">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7 gap-0.5" src="/Sprites/coffee.png"/>
                    <p class="sideText text-[#38d832]">+999</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner w-full h-full bg-black flex flex-col items-center p-1 tablet:p-2 overflow-hidden justify-around">
                <p class="sideText text-[#ef8f30]">
                    CS Degree Coruses:
                </p>
                <div class="center gap-1">
                    <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7" src="/Sprites/book.png"/>
                    <p class="sideText text-[#38d832] ">17/18</p>
                </div>
            </div>
        </div>

        <div class="fullscreen col-span-2 ">
            <div class="corner2 w-full h-full bg-black center p-1 tablet:p-2 overflow-hidden">
                <p class="sideText text-[#ef8f30] ">
                    Started Programming:
                </p>
                <p class="sideText text-[#38d832] ml-1">2017</p>
            </div>
        </div>

    </section>
</main>