
<main class="fullscreen center p-2 side-text orangeT leading-5">
    <section class="fullscreen grid grid-cols-2 grid-rows-8 gap-1">

        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Age:
                </p>
                <div class="center gap-1">
                    <img class="w-5 lg:w-7" src="/Sprites/age.png"/>
                    <p class=" greenT">23</p>
                </div>
            </div>
        </div>


        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Open Tabs:
                </p>
                <div class="center gap-1">
                    <img class="w-5 lg:w-7" src="/Sprites/tabs.png"/>
                    <p class=" greenT">+99</p>
                </div>
            </div>
        </div>

        <div class="fullscreen col-span-2 text-nowrap">
            <div class="corner2 fullscreen gap-1 center p-1">

                <p>  Actual Job:</p>

                <p class=" greenT">Just Four Steps</p>

                
            </div>

        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Explored Frameworks:
                </p>
                <div class="center gap-1">
                    <img class="w-5 lg:w-7" src="/Sprites/framework.png"/>
                    <p class=" greenT">5</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Known in internet as:
                </p>
                <div class="center gap-1">
                    <img class="w-5 lg:w-7" src="/Sprites/known.png"/>
                    <p class=" greenT">GUSUM</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    Coffees Consumed:
                </p>
                <div class="center">
                    <img class="w-5 lg:w-7" src="/Sprites/coffee.png"/>
                    <p class=" greenT ml-0.5">+999</p>
                </div>
            </div>
        </div>

        <div class="fullscreen  center row-span-2">
            <div class=" corner fullscreen flex flex-col items-center p-1 lg:p-2 overflow-hidden justify-around">
                <p class=" ">
                    CS Degree Coruses:
                </p>
                <div class="center gap-1">
                    <img src="/Sprites/book.png"/>
                    <p class=" greenT ">17/18</p>
                </div>
            </div>
        </div>

        <div class="fullscreen col-span-2 text-nowrap">
            <div class="corner2 fullscreen gap-1 center p-1">

                <p>  Started programming:</p>

                <p class=" greenT">2017</p>

                
            </div>

        </div>

    </section>
</main>