<section class="fullscreen p-2 tablet:p-4 desktop::p-6 flex flex-col gap-0.5 tablet:gap-2 overflow-scroll">
    <h3 class="mainText yellowT menu-font textshadow">Technical Skills</h3>

    <div class="w-full bg-[#071820] pl-1 bigPhone:pl-3">
        <ul>
            <li class="descriptionText text-[#8ca8b7]">I have worked with a variety of languages and frameworks</li>
            <li class="descriptionText text-[#8ca8b7]">The languages I have more experience with are <span class="descriptionText greenT">Python & Typescript</span>, but I also have experience with <span class="descriptionText orangeT">Go, Java & C#</span></li>
            <li class="descriptionText text-[#8ca8b7]">I like doing backend the most, pero tambien puedo desenvolver in frontend</li>
            <li class="descriptionText text-[#8ca8b7]">Due to my education and my self-taught approach, I have developed a strong foundation in computer science.</li>
        </ul>
    </div>

    <section class="w-full bordered descriptionText yellowT pl-1 bigPhone:pl-4">
        <h3>Frequently used</h3>
        <div class="w-full flex gap-1 laptop:gap-4 desktop:gap-5 p-1 bigPhone:p-2">

            <div Description="Python"  class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/python_icon.png"/>
                </div>
               
            </div>
            
            <div Description="Typescript" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/typescript.png"/>
                </div>
               
            </div>

            <div Description="Git" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/git.png"/>
                </div>
               
            </div>

            <div Description="Docker" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/docker.png"/>
                </div>
               
            </div>

            <div Description="Nginx" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/nginx.png"/>
                </div>
               
            </div>

            <div Description="Django |Rest Framework " class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/django.png"/>
                </div>
               
            </div>

            <div Description="Angular" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/angular.png"/>
                </div>
               
            </div>
        </div>
    </section>

    <section class="w-full bordered descriptionText yellowT pl-1 bigPhone:pl-4">
        <h3>Frameworks & Tools</h3>
        <div class="w-full flex gap-1 laptop:gap-4 desktop:gap-5 p-1 bigPhone:p-2">

            <div Description="Postman"  class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/postman.png"/>
                </div>
               
            </div>
            
            <div Description="JWT" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/jwt.png"/>
                </div>
               
            </div>
            
            <div Description="Bash" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/bash.png"/>
                </div>
               
            </div>

            <div Description="Jira" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/jira.png"/>
                </div>
               
            </div>



            <div Description="Tailwind" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/tailwind.png"/>
                </div>
               
            </div>
        </div>
    </section>
    <section class="w-full bordered descriptionText yellowT pl-1 bigPhone:pl-4">
        <h3>Operative System</h3>
        <div class="w-full flex gap-1 laptop:gap-4 desktop:gap-5 p-1 bigPhone:p-2">

            <div Description="Linux"  class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/linux.png"/>
                </div>
               
            </div>
            
            <div Description="Ubuntu" class="w-3 h-3 phone:w-4 phone:h-4 bigPhone:w-7 bigPhone:h-7 laptop:w-8 laptop:h-8 desktop:w-10 desktop:h-10 fullhd2:w-12 fullhd2:h-12  bg-gray-600  skeu bigPhone:p-[1px] ">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img class="w-2/3 h-2/3" src="Skills/ubuntu.png"/>
                </div>
               
            </div>
            

        </div>
    </section>
</section>