<section class="fullscreen flex flex-col textshadow gap-0.5 overflow-y-scroll">
    <h3 class="yellowT menu-font lg:text-xl">Technical Skills</h3>

    <div class="w-full font-rs bg-[#071820] pl-1 text-xs lg:text-lg xl:text-2xl">
        <ul class="flex flex-col gap-2">
            <li class="text-[#8ca8b7]">I have worked with a variety of languages and frameworks</li>
            <li class="text-[#8ca8b7]">The languages I have more experience with are <span class="greenT">Python and Typescript</span>, but I also have experience with <span class="orangeT"> Java</span> and <span class="orangeT">C#</span></li>
            <li class="text-[#8ca8b7]">I focus more on backend development, but I can handle other areas as well.</li>
            <li class="text-[#8ca8b7]">Due to my education and my self-taught approach, I have developed a strong foundation in computer science.</li>
            <li class="text-[#8ca8b7]">Always open to learn new technologies to achieve the desired goal.</li>
        </ul>
    </div>

    <section class="w-full bordered yellowT menu-font text-xs lg:text-lg pl-1 ">
        <h3>Frequently used</h3>
        <div class="w-full flex grow gap-1 p-1 ">

            <div Description="Python"  class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img alt="python" class="" src="Skills/python_icon.png"/>
                </div>
               
            </div>
            
            <div Description="Typescript" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#293146] innerbox center  border-black ">
                    <img alt="TS" class="" src="Skills/typescript.png"/>
                </div>
               
            </div>

            <div Description="Git" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img alt="git" class="" src="Skills/git.png"/>
                </div>
               
            </div>

            <div Description="Docker" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img alt="docker" class="" src="Skills/docker.png"/>
                </div>
               
            </div>

            <div Description="Nginx" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#3f2845] innerbox center  border-black ">
                    <img alt="nginx" class="" src="Skills/nginx.png"/>
                </div>
               
            </div>

            <div Description="Django |Rest Framework " class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img alt="django" class="" src="Skills/django.png"/>
                </div>
               
            </div>

            <div Description="Angular" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img alt="angular" class="" src="Skills/angular.png"/>
                </div>
               
            </div>
        </div>
    </section>

    <section class="w-full bordered yellowT menu-font text-xs lg:text-lg pl-1">
        <h3>Frameworks & Tools</h3>
        <div class="w-full flex gap-1 laptop:gap-4 desktop:gap-5 p-1 bigPhone:p-2">

            <div Description="Postman"  class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#621f2a] innerbox center  border-black ">
                    <img alt="postman" class="" src="Skills/postman.png"/>
                </div>
               
            </div>
            
            <div Description="Bash" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#621f2a] innerbox center  border-black ">
                    <img alt="bash" class="" src="Skills/bash.png"/>
                </div>
               
            </div>
            
            <div Description="Jira" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#621f2a] innerbox center  border-black ">
                    <img alt="jira" class="" src="Skills/jira.png"/>
                </div>
               
            </div>

            <div Description="JWT" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img alt="jwt" class="" src="Skills/jwt.png"/>
                </div>
               
            </div>



            <div Description="Tailwind" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#495b30] innerbox center  border-black ">
                    <img alt="tailwind" class="" src="Skills/tailwind.png"/>
                </div>
               
            </div>
        </div>
    </section>
    <section class="w-full bordered yellowT menu-font text-xs lg:text-lg pl-1">
        <h3>Operative System</h3>
        <div class="w-full flex gap-1 laptop:gap-4 desktop:gap-5 p-1 bigPhone:p-2">

            <div Description="Linux"  class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#7b3a1c] innerbox center  border-black ">
                    <img alt="linux" class="" src="Skills/linux.png"/>
                </div>
               
            </div>
            
            <div Description="Ubuntu" class="bg-gray-600 skeu w-6 h-6 lg:w-7 lg:h-7 xl:w-9 xl:h-9 ">

                <div class="fullscreen bg-[#7b3a1c] innerbox center  border-black ">
                    <img alt="ubuntu" class="" src="Skills/ubuntu.png"/>
                </div>
               
            </div>
            

        </div>
    </section>
</section>