<section class="fullscreen flex flex-col textshadow gap-1 overflow-y-scroll">
    <h3 class="yellowT menu-font lg:text-xl">Technical Skills</h3>

    <div class="w-full font-rs bg-[#071820] pl-1 text-xs lg:text-lg xl:text-2xl">
        <ul class="flex flex-col gap-2 text-[#8ca8b7]">
            <li >I have worked with a variety of languages and frameworks</li>
            <li >The languages I have more experience with are <span class="greenT">Go and Typescript</span>, but I also have experience with <span class="orangeT"> Java</span>, <span class="orangeT">C#</span> and <span class="orangeT">Python</span> </li>
            <li >I focus more on backend development, but I can handle other areas as well.</li>
            <li >Due to my education and my self-taught approach, I have developed a strong foundation in computer science.</li>
            <li >Always open to learn new technologies to achieve the desired goal.</li>
        </ul>
    </div>
    <section class="flex flex-wrap lg:flex-row lg:flex-nowrap">
        <section class="w-1/2  yellowT font-bold font-rs text-xs lg:text-lg pl-1 flex flex-col items-center">
            <h3 class="menu-font">Frequently used</h3>
            <div class=" flex grow gap-1 p-1 center text-white">



                <div class="lg:lg:h-7 bg-[#04a4d4]  innerbox center  border-black p-1">
                    GO
                </div>



                <div class="lg:h-7 bg-[#1950db] innerbox center  border-black p-1">
                    Typescript
                </div>

            </div>
        </section>

        <section class="w-1/2  yellowT font-bold font-rs text-xs lg:text-lg pl-1 flex flex-col items-center">
            <h3 class="menu-font">Frameworks</h3>
            <div class="w-full flex grow gap-1 p-1 center text-white">



                <div class="lg:h-7 bg-[#6db33f]  innerbox center  border-black p-1">
                    Spring Boot
                </div>



                <div class="lg:h-7 bg-[#af2929] innerbox center  border-black p-1">
                    Angular
                </div>

            </div>
        </section>
        <section class="w-full lg:w-2/3  yellowT font-bold font-rs text-xs lg:text-lg pl-1 flex flex-col items-center ">
            <h3 class="menu-font">Tools</h3>
            <div class="w-2/3 gap-1 p-1 center text-white flex-wrap">



                <div class="lg:h-7 bg-[#0b2a77] innerbox center  border-black p-1">
                    Docker
                </div>



                <div class="lg:h-7 bg-[#1b76b3] innerbox center  border-black p-1">
                    Jira
                </div>


                <div class="lg:h-7 bg-[#a85317] innerbox center  border-black p-1">
                    Postman
                </div>


                <div class="lg:h-7 bg-[#303134] innerbox center  border-black p-1 ">
                    bash
                </div>

                <div class="lg:h-7 bg-black innerbox center  border-black p-1">
                    linux
                </div>

                <div class="lg:h-7 bg-yellow-600 innerbox center  border-black p-1">
                    Elastic Search
                </div>

                <div class="lg:h-7 bg-[#00bfb0] innerbox center  border-black p-1">
                    Kibana
                </div>

                <div class="lg:h-7 bg-orange-500 innerbox center  border-black p-1">
                    Scrum
                </div>


            </div>
        </section>
    </section>

</section>
