<section class="fullscreen flex flex-col gap-2 lg:gap-2 ">

    <div class="w-full center gap-4 sm:flex-col lg:flex-row menu-font relative yellowT textshadow uppercase text-3xl md:text-4xl xl:text-5xl 2xl:text-7xl">
        <h2 class="">Ariel</h2>
        <h2 class="">Alvaro</h2>

    </div>

    <div class="w-full center mt-1">
        <p class="rainbow wave-text font-rs font-bold text-xl lg:text-4xl 2xl:text-6xl textshadow uppercase">
            <span>S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span><span>&nbsp;</span>
            <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
        </p>
    </div>
    <div class="flex flex-col items-center overflow-y-scroll textShadow">
        <ul class="font-rs greenT sm:text-xl  lg:text-xl xl:text-2xl ">
            <li> Hello! I am a software developer specialized in backend development.</li>
            <li class="lg:mt-5 flex gap-1"> I have a degree in computer science <p class="rainbow">(computer analyst)</p>.</li>
            <li class="lg:mt-5">  I also have experience in frontend development with frameworks like React and Angular.</li>
            <li class="lg:mt-5">  Always looking to improve my skills and collaborate in a team to learn even more.</li>
            <li class="lg:mt-5">I am from <span class="text-red-600">Córdoba</span>, <span class="text-blue-500">Argentina</span>.</li>
        </ul>
    </div>

</section>
