
.rainbow{
    animation: rainbow 4s ease-in;
    animation-iteration-count: infinite;
} 

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

.wave-text span {
    display: inline-block;
    animation: wave 1s ease-in-out infinite;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.wave-text span:nth-child(1) { animation-delay: 0s; }
.wave-text span:nth-child(2) { animation-delay: 0.1s; }
.wave-text span:nth-child(3) { animation-delay: 0.2s; }
.wave-text span:nth-child(4) { animation-delay: 0.3s; }
.wave-text span:nth-child(5) { animation-delay: 0.4s; }
.wave-text span:nth-child(6) { animation-delay: 0.5s; }
.wave-text span:nth-child(7) { animation-delay: 0.6s; }
.wave-text span:nth-child(8) { animation-delay: 0.7s; }
.wave-text span:nth-child(9) { animation-delay: 0.8s; }
.wave-text span:nth-child(10) { animation-delay: 0.9s; }
.wave-text span:nth-child(11) { animation-delay: 1s; }
.wave-text span:nth-child(12) { animation-delay: 1.1s; }
.wave-text span:nth-child(13) { animation-delay: 1.2s; }
.wave-text span:nth-child(14) { animation-delay: 1.3s; }
.wave-text span:nth-child(15) { animation-delay: 1.4s; }
.wave-text span:nth-child(16) { animation-delay: 1.5s; }
.wave-text span:nth-child(17) { animation-delay: 1.6s; }
.wave-text span:nth-child(18) { animation-delay: 1.7s; }

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20%);
    }
}

li {
    padding-left: 1em;
    position: relative;
    
}

li::after {
    content: '';
    height: .4em;
    width: .4em;
    background: #ffcb05;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: .50em;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}