<section class="fullscreen flex flex-col ">

    <div class="w-full flex flex-col justify-center items-center menu-font relative ">
        <h2 class="bigText uppercase yellowT textshadow">Ariel</h2>
        <h2 class="bigText uppercase yellowT textshadow">Alvaro</h2>
        <p class="sideText tablet:text-3xl rainbow wave-text phone:mt-1 mb-1">
            <span>S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span><span>&nbsp;</span>
            <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
        </p>
     
    </div>

    <div class="flex flex-col items-center overflow-scroll">
        <ul class="mainText textshadow greenT flex flex-col transition-all phone:gap-2">
            <li>  Hola! Soy un desarrollador de software especializado en el desarrollo backend</li>
            <li>  Tambien poseo experiencia con el desarrollo frontend con frameworks como React & Angular</li>
            <li>  Poseo una solida base en ciencias de la computacion </li>
            <li>  Siempre en busca de mejorar mis habilidades y trabajar en equipo para aprender aun mas.</li>
        </ul>
    </div>
    
</section>
