<section class="fullscreen flex flex-col gap-2 lg:gap-4">

    <div class="w-full center gap-4 sm:flex-col menu-font relative yellowT textShadow uppercase text-3xl md:text-4xl xl:text-7xl">
        <h2 class="">Ariel</h2>
        <h2 class="">Alvaro</h2>

    </div>

    <div class="w-full center">
        <p class="rainbow wave-text font-rs font-bold text-xl lg:text-4xl 2xl:text-6xl">
            <span>S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span><span>&nbsp;</span>
            <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
        </p>
    </div>

    <div class="flex flex-col items-center overflow-y-scroll">
        <ul class="font-rs greenT sm:text-xl  lg:text-2xl 2xl:text-4xl">
            <li class="lg:mt-5">  Hola! Soy un desarrollador de software especializado en el desarrollo backend</li>
            <li class="lg:mt-5">  Tambien poseo experiencia con el desarrollo frontend con frameworks como React & Angular</li>
            <li class="lg:mt-5">  Poseo una solida base en ciencias de la computacion </li>
            <li class="lg:mt-5">  Siempre en busca de mejorar mis habilidades y trabajar en equipo para aprender aun mas.</li>
        </ul>
    </div>
    
</section>
