<section class="fullscreen shadow overflow-hidden flex justify-end" >
    <div class="w-52 h-52 xl:w-60 xl:h-60 2xl:w-72 2xl:h-72 bg-white metalic rounded-full transition-all center">



        <div class="w-[95%] h-[95%] bg-black rounded-full bg-[url('/minimap/map.png')] bg-cover bg-no-repeat relative overflow-hidden">
            <img Description="Farming shop" class=" absolute w-[8%] h-[8%] left-[10%] top-[15%]" src="/minimap/farming.png"/>
        </div>


    </div>


    <!-- <section class="w-[90%] h-[90%]"> -->
        
        <!-- <div class="fullscreen bg-[url('/minimap/map.png')] bg-cover bg-no-repeat">
            <img Description="Farming shop" class=" relative w-[8%] h-[8%] left-[10%] top-[15%]" src="/minimap/farming.png"/>
            <img Description="Farming shop" class=" relative w-[8%] h-[8%] left-[50%] top-[80%]" src="/minimap/farming.png"/>
            <img Description="Farming shop" class=" relative w-[8%] h-[8%] left-[70%] top-[50%]" src="/minimap/farming.png"/>             
            <img Description="Agility training area" class=" relative w-[8%] h-[8%] left-[16%] top-[20%]" src="/minimap/agility.png"/>
            <img Description="Fishing shop" class=" relative w-[8%] h-[8%] left-[80%] top-[6%]" src="/minimap/fishingshop.png"/>
            <img Description="Fishing shop" class=" relative w-[8%] h-[8%] left-[30%] top-[0%]" src="/minimap/fishingshop.png"/>
            <img Description="Dungeon" class=" relative w-[8%] h-[8%] left-[70%] bottom-[25%]" src="/minimap/dungeon.png"/>
        </div> -->
        <!-- Icons -->

        <!-- <img Description="Home" class=" relative w-[8%] h-[8%] left-[40%] bottom-[66%]" src="/minimap/house.png"/>
        
        <img Description="Fishing spot" class=" relative w-[8%] h-[8%] left-[80%] bottom-[80%]" src="/minimap/fishing.png"/>
        <img Description="Fishing spot" class=" relative w-[8%] h-[8%] left-[30%] bottom-[80%]" src="/minimap/fishing.png"/>
        <img Description="Fishing spot" class=" relative w-[8%] h-[8%] left-[30%] bottom-[70%]" src="/minimap/fishing.png"/>
        <img Description="Fishing spot" class=" relative w-[8%] h-[8%] left-[30%] bottom-[60%]" src="/minimap/fishing.png"/>

        <img Description="Dungeon" class=" relative w-[8%] h-[8%] left-[8%] bottom-[99%]" src="/minimap/dungeon.png"/>
        <img Description="Dungeon" class=" relative w-[8%] h-[8%] left-[80%] bottom-[70%]" src="/minimap/dungeon.png"/> -->

    <!-- </section> -->

    <!-- Corner Items -->
    <!-- <figure Description="send| e-mail" class="w-[19%] h-[18%] rounded-full absolute center right-0 bottom-0 bg-[#011823] glassy">
        <div class="w-[95%] h-[95%] rounded-full bg-[#0d181e] shadow center">
            <img class="w-[80%] h-[70%] rounded-full" src="/minimap/email.png"/>
        </div>
        <a class="absolute w-full h-full" href="mailto:ariel57666@gmail.com" target="_blank"></a>
    </figure>
    <figure  Description="|Argentina" class="w-[19%] h-[18%] rounded-full absolute center right-0 top-0 bg-[#011823] glassy">
        <div class="w-[95%] h-[95%] rounded-full bg-[#0d181e] shadow center">
            <img class="w-[85%] h-[85%] rounded-full" src="/minimap/flagAR.png"/>
        </div>
    </figure>
    <figure Description="go to|Github" class="w-[19%] h-[18%] rounded-full absolute center left-0 bottom-0 bg-[#011823] glassy">
        <div class="w-[98%] h-[98%] rounded-full bg-[#0d181e] shadow center">
            <img class="shadow skeu w-[85%] h-[85%] rounded-full" src="/minimap/github.png"/>
        </div>
        <a class="absolute w-full h-full" href="https://github.com/arielalvaro57666" target="_blank"></a>
    </figure>

    <figure class="w-[19%] h-[18%] rounded-full absolute center left-0 top-0 bg-[#011823] glassy">
        <div class="w-[95%] h-[95%] rounded-full bg-[#0d181e] shadow center">
            <img class="w-[85%] h-[85%] rounded-full" src="/minimap/Compass.png"/>
        </div>
    </figure> -->





</section>
