.inshape {
    clip-path: polygon(0 0, 88% 0, 59% 100%, 0 100%);

}

.inshadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
    border: 4px double hwb(228 17% 72%);
}

.linearbg {
    background: rgb(25,39,45);
    background: linear-gradient(90deg, rgba(25,39,45,1) 4%, rgba(27,38,47,1) 22%, rgba(25,39,45,1) 33%, rgba(25,39,45,1) 47%, rgba(25,39,45,1) 55%); 
}

.fillText {
    text-align: justify;
}

.fillText::after {
    content: "";
    display: inline-block;
    width: 100%;
}