<section class="fullscreen side-text orangeT flex flex-col items-center gap-2 overflow-y-scroll overflow-x-hidden
                p-3 lg:p-4">
    <div class=" bg-gray-800 shadow p-1">
        <p class="uppercase ">Welcome to my portfolio</p>
    </div>
    
    <p >It’s a portfolio based on a game I used to play as a child, called RuneScape.</p>
    <p>  In this menu you can:</p>

    <div class="border-2 glassy shadow p-1">
        <ul class="flex flex-col gap-1 text-left ">
            <li >Explore my online profiles</li>
            <li >See random information</li>
            <li >put some music from the game :) </li>
        </ul>
    </div>


</section>
