<section class="fullscreen flex flex-col items-center gap-2 overflow-y-scroll overflow-x-hidden
                p-3 lg:p-4">
    <p class="side-text orangeT uppercase">Welcome to my portfolio</p>
    <p class="side-text orangeT">
        In this menu you can access to
    </p>

    <ul class="flex flex-col gap-1">
        <li class="side-text orangeT list-disc">Sobre mi</li>
        <li class="side-text orangeT list-disc">Experiencia laboral</li>
        <li class="side-text orangeT list-disc">Estudios</li>
        <li class="side-text orangeT list-disc">Proyectos</li>
    </ul>

    


      
      
</section>
