<section class="fullscreen p-4 flex flex-col items-center tablet:gap-4 gap-2 overflow-scroll">
    <p class="sideText orangeT">Bienvenido a mi portfolio</p>
    <p class="sideText orangeT">
        En este menu encontraras informacion adicional <br>(algunas cosas no tan relevantes)
    </p>
    <p class="sideText orangeT">
        Por otra parte tienes a la izquierda la seccion principal donde encontraras:
    </p>
    <ul class="flex flex-col gap-1">
        <li class="sideText orangeT list-disc">Sobre mi</li>
        <li class="sideText orangeT list-disc">Experiencia laboral</li>
        <li class="sideText orangeT list-disc">Estudios</li>
        <li class="sideText orangeT list-disc">Proyectos</li>
    </ul>

    


      
      
</section>
