<section class="fullscreen grid grid-rows-2 grid-cols-2 p-1 gap-1 font-rs textShadow">

    <section class=" row-span-2 col-span-1 border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu ">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col flex-grow p-1 lg:p-3 relative">
            <p class="lg:absolute yellowT yellowT top-1 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">2020 - 2023</p>
            <p class="lg:absolute yellowT yellowT top-5 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">Córdoba, Arg</p>
        
            <p class="menu-font yellowT text-center text-[0.65rem] xs:text-base lg:text-lg xl:text-2xl">FAMAF - UNC </p>
    
            <div class="w-full h-[10%]  center">
                <p class=" text-left yellowT text-[0.65rem] xs:text-xs md:text-base lg:text-lg">Bachelor degree in Computer Science</p>
            </div>
            <div class="w-full h-[20%] center flex-col">
                <div class="flex w-full justify-between descriptionText text-[#8ca8b7] text-xs xs:text-base">
                    <p>Courses (Passed)</p>
                    <p>17/18</p>
                </div>
                <div class="w-[100%] h-[10%] border-[.1em] border-gray-600 bg-[#141415]">
                    <div class="h-[97%] w-[94%] bg-[#41a300] skeumor"></div>
                </div>
            </div>
  
            <div class="fullscreen greenT bg-[#071820] p-1 shadowS1 border-[.01em] overflow-y-scroll text-[0.65rem] xs:text-base lg:text-lg">
                <p> Introduction To Algorithms </p>
                <p> Algorithms and Data Structures I</p>
                <p> Algorithms and Data Structures II</p>
                <p> Software Engineering I</p>
                <p> Operating Systems</p>
                <p> Programming Paradigms</p>
                <p> Computer Organization</p>
                <p> Computer Architecture</p>
                <p> Introduction to Logic and Computing</p>
                <p> Databases</p>
                <p> Networks and Distributed Systems</p>
                <p> Discrete Mathematics I</p>
                <p> Mathematical Analisys I </p>
                <p> Mathematical Analisys II</p>
                <p> Algebra</p>
                <p> Numerical Analisys</p>
                <p> Probability and Statistics</p>
                <p class="text-red-700"> Discrete Mathematics II</p>

            </div>
   
            

        </div>
        
    </section>

    <section class="fullscreen border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu p-[1px]">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col flex-grow p-1 lg:p-3 relative">
            <div>
                <p class="lg:absolute yellowT top-1 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">2023</p>
                <p class="lg:absolute yellowT top-5 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">Remote, Arg</p>
            </div>

        
            <p class="menu-font yellowT text-center text-[0.65rem] xs:text-base lg:text-lg xl:text-2xl">DICSYS ACADEMY </p>

  
            <p class="yellowT text-xs">Topics:</p>
            <div class="fullscreen greenT bg-[#071820] p-1 shadowS1 border-[.01em] overflow-y-scroll text-[0.65rem] xs:text-base lg:text-lg ">
                <p> Git </p>
                <p> Code Review</p>
                <p> Angular</p>
                <p> PHP</p>
            </div>


        </div>
    </section>

    <section class="fullscreen border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu p-[1px] overflow-scroll ">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col p-1 lg:p-3 relative">
            <p class="lg:absolute yellowT top-1 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">2023</p>
            <p class="lg:absolute yellowT top-5 right-1 text-[0.50rem] sm:text-xs lg:text-base  ">Remote, Arg</p>
        
            <p class="menu-font yellowT text-center text-[0.65rem] xs:text-base lg:text-lg xl:text-2xl uppercase xs:px-2 sm:px-5 md:px-14">Bachiller en informatica </p>
            <div class="fullscreen center">
                <p class="descriptionText yellowT text-center">(High School Diploma with a Specialization in Computer Science)</p>

            </div>

        </div>
    </section>


</section>>
