<section class="fullscreen grid grid-rows-2 grid-cols-2 p-1 tablet:p-3 gap-1 bigPhone:gap-2">

    <section class=" row-span-2 col-span-1 border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu p-[1px]">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col p-1 phone:p-2 relative">
            <p class="absolute descriptionText yellowT top-1 right-1">2020 - 2023</p>
        
            <div class="w-full center gap-2">
                <img class="w-[10%]" src="/education/famaf.png"/>
                <p class="mainText yellowT">FAMAF - UNC </p>
            </div>
    
            <div class="w-full h-[10%]  center">
                <p class="descriptionText text-left yellowT ">Bachelor degree in Computer Science</p>
            </div>
            <div class="w-full h-[60%]  flex flex-col">
                <p class="descriptionText yellowT">Courses (Passed):</p>
                <div class="fullscreen descriptionText text-[#8ca8b7] bg-[#071820] p-1 shadowS1 border-[.01em] overflow-y-scroll">
                    <p> Introduction To Algorithms </p>
                    <p> Algorithms and Data Structures I</p>
                    <p> Algorithms and Data Structures II</p>
                    <p> Software Engineering I</p>
                    <p> Operating Systems</p>
                    <p> Programming Paradigms</p>
                    <p> Computer Organization</p>
                    <p> Computer Architecture</p>
                    <p> Introduction to Logic and Computing</p>
                    <p> Databases</p>
                    <p> Networks and Distributed Systems</p>
                    <p> Discrete Mathematics I</p>
                    <p> Mathematical Analisys I </p>
                    <p> Mathematical Analisys II</p>
                    <p> Algebra</p>
                    <p> Numerical Analisys</p>
                    <p> Probability and Statistics</p>
                </div>
            </div>
            
            <div class="w-full h-[20%] center flex-col">
                <div class="flex w-full justify-between descriptionText text-[#8ca8b7] ">
                    <p>Courses Completed</p>
                    <p>17/18</p>
                </div>
                <div class="w-[100%] h-[15%] phone:border-[.001em] bigPhone:border-[.01em] fullhd:border-[.20em] border-gray-600 bg-[#141415] p-[0.4px] phone:p-[0.8px] tablet:p-0.5">
                    <div class="h-full w-[94%] bg-[#41a300] skeumor"></div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="fullscreen border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu p-[1px] ">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col p-1 phone:p-2 relative">
            <p class="absolute descriptionText yellowT top-1 right-1">2023</p>
        
            <div class="w-full center gap-2">
                <img class="w-[10%]" src="/education/dicsys.png"/>
                <p class="mainText yellowT">DICSYS ACADEMY</p>
            </div>
    
            <div class="w-full h-[70%] flex flex-col items-center center ">
                <p class="descriptionText yellowT "> </p>
                <p class="descriptionText yellowT text-center">Remote Course</p>
            </div>
            <div class="w-full h-[60%]  flex flex-col">
                <p class="descriptionText yellowT">Topics:</p>
                <div class="fullscreen descriptionText text-[#8ca8b7] bg-[#071820] p-1 shadowS1 border-[.01em] overflow-y-scroll">
                    <p> Git </p>
                    <p> Code Review</p>
                    <p> Angular</p>
                    <p> PHP</p>

                </div>
            </div>
        </div>
    </section>

    <section class="fullscreen border-[.10em] border-[#2f3d45] bg-[#0a1f29a4] w-full h-full skeu p-[1px] ">
        <div class="bg-[#0a1f29] fullscreen shadowS1 flex flex-col p-1 phone:p-2 relative">
            <p class="absolute descriptionText yellowT top-1 right-1">2019</p>
        
            <div class="w-full center gap-2">
                <img class="w-[10%]" src="/education/cesd.png"/>
                <p class="mainText yellowT">CESD</p>
            </div>
    
            <div class="w-full h-[70%] flex flex-col items-center center ">
                <p class="descriptionText yellowT ">Bachiller en informatica  </p>
                <p class="descriptionText yellowT text-center">(High School Diploma with a Specialization in Computer Science)</p>
            </div>
        </div>
    </section>


</section>>
