<section class="fullscreen flex p-1 ">
    <div class="h-full w-[50%]">
        <div class="w-full h-2/3 p-1">
            <p class="descriptionText mb-1 yellowT text-center">projects: {{projects.length}}</p>
            <ng-container class="flex flex-col" *ngFor="let project of projects">
                <div [ngClass]="actualProject && project.name === actualProject.name ? 'skeumor' : 'shadow3'" class="w-full h-[15%] max-h-full bg-[#0d2e3e] bigPhone:rounded-md flex items-center cursor-pointer" (click)="setProject(project)">
                    
                    <img class="w-1/7 h-full p-[1px] fullhd2:w-14 fullhd2:h-14 tablet:p-1" [src]="project.iconUrl"/>

                    <div class="font-rs center h-full w-5/6 phone:w-3/6 yellowT text-[.25rem] smallPhone:text-[.35rem] phone:text-[.40rem] bigPhone:text-[.70rem] tablet:text-[.85rem] laptop:text-[1rem] desktop:text-[1.3rem] fullhd:text-xl">
                        {{project.name}}
                    </div>
                    
                    <div class="w-[30%] h-2/3 hidden phone:flex items-center gap-[5%]">
                        <div class="h-full w-fit bg-[#373831] rounded-full shadow1 p-0.5">
                            <div class="fullscreen bg-[#373831] rounded-full">
                                <img class="fullscreen" src="/Sprites/tick.png"/>
                            </div>
                        </div>
                        <div class="font-rs yellowT text-[.30rem] bigPhone:text-[.50rem] tablet:text-[.70rem] laptop:text-base fullhd:text-xl">
                            finished
                        </div>
                    </div>


                </div>
            </ng-container>
        </div>

    </div>
    <div class="fullscreen  ">

        <app-project-description *ngIf="actualProject" [project]="actualProject"/>
        
    </div>
</section>

