<section class="fullscreen flex flex-col sm:flex-row  p-1 ">
    <div class=" w-full md:w-[40%] lg:w-1/2">
        <div class="w-full h-2/3 font-rs p-1 yellowT">
            <p class="text-xs md:text-lg mb-1 text-center">projects: {{projects.length}}</p>
            <ng-container class="flex flex-col" *ngFor="let project of projects">
                <div [ngClass]="actualProject && project.name === actualProject.name ? 'skeumor' : 'shadow3'" 
                     class=" bg-[#0d2e3e] lg:rounded-md center gap-2 cursor-pointer h-5 md:h-8 lg:h-10 xl:h-12 2xl:h-16 2xl:justify-around"  
                     (click)="setProject(project)">
                    
                    <img class="h-full" [src]="project.iconUrl"/>

                    <div class="center h-full text-[0.50rem] xs:text-[0.70rem] lg:text-base xl:text-lg 2xl:text-xl">
                        {{project.name}}
                    </div>

                    <div class=" bg-[#373831] w-6 h-6 rounded-full shadow1 p-0.5 hidden lg:block">
                        <div class="fullscreen bg-[#373831] rounded-full">
                            <img class="fullscreen" src="/Sprites/tick.png"/>
                        </div>
                    </div>

                    <p class="text-xs lg:text-base hidden lg:block">finished</p>


                </div>
            </ng-container>
        </div>

    </div>
    <div class="w-full h-[80%] sm:h-full">

        <app-project-description *ngIf="actualProject" [project]="actualProject" />
    </div>
</section>

