<section class="fullscreen flex flex-col items-center p-2 tablet:p-4 desktop:p-10 gap-2">
    <div class="w-full h-1/6 center corner2 hover:cursor-pointer">
        <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7 mr-2 " src="/social/github.png"/>
        <p class="sideText text-[#ef8f30] ">
           GitHub
        </p>
        <a class="absolute w-full h-full" href="https://github.com/arielalvaro57666" target="_blank"></a>

    </div>
    <div class="w-full h-1/6 center corner2 hover:cursor-pointer">
        <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7 mr-2 " src="/social/in.png"/>
        <p class="sideText text-[#ef8f30] ">
           Linkedin
        </p>

        <a class="absolute w-full h-full" href="https://www.linkedin.com/in/ariel-alvaro/" target="_blank"></a>
    </div>
    <div class="w-full h-1/6 flex flex-col center corner2 hover:cursor-pointer">
        <div class="center">
            <img class="w-1 h-1 phone:w-2 phone:h-2 tablet:h-4 tablet:w-4 laptop:w-5 laptop:h-5 fullhd:w-auto fullhd:h-7 mr-2 " src="/social/email.png"/>
            <p class="sideText text-[#ef8f30] ">
               E-mail
            </p>
        </div>

        <p class="sideText fullhd:text-sm text-[#38d832]">ariel57666&#64;gmail.com</p>
        <a class="absolute w-full h-full" href="mailto:ariel57666@gmail.com" target="_blank"></a>
    </div>

</section>