<section class="fullscreen flex flex-col p-2 lg:p-4 gap-2 side-text orangeT">
    <div Description="go to |Github" class="w-full h-1/6 center corner2 cursor-pointer gap-3">
        
        <div class="h-full w-[20%] center ">
            <img class="w-6 h-6 2xl:w-8 2xl:h-8" src="/social/github.png"/>
        </div>

        <div class="w-[40%] flex items-center fullscreen">
            <p> Github </p>
        </div>
        
        <a class="absolute w-full h-full" href="https://github.com/arielalvaro57666" target="_blank"></a>

    </div>
    <div Description="go to |Linkedin" class="w-full h-1/6 center corner2 cursor-pointer gap-3">
        <div class="h-full w-[20%] center ">
            <img class="w-6 h-6 2xl:w-8 2xl:h-8" src="/social/in.png"/>
        </div>

        <div class="w-[40%] flex items-center fullscreen">
            <p> Linkedin </p>
        </div>
        
        <a class="absolute w-full h-full" href="https://www.linkedin.com/in/ariel-alvaro/" target="_blank"></a>
    </div>
    <div Description="send |email" class="w-full h-1/6 center corner2 cursor-pointer gap-3">
        <div class="h-full w-[20%] center ">
            <img class="w-6 h-6 2xl:w-8 2xl:h-8" src="/social/email.png"/>
        </div>

        <div class="w-[40%] flex items-center fullscreen">
            <p>Email </p>
        </div>

        <a class="absolute w-full h-full" href="mailto:ariel57666@gmail.com" target="_blank"></a>
    </div>



</section>