/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} 
@layer components {
    .fullview {
        @apply w-screen h-screen
    }

    .fullscreen {
        @apply w-full h-full
    }

    .center {
        @apply flex flex-row justify-center items-center
    }
}