/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.glassy {
    background: #b2b2cd14;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.1px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 0.1px solid rgba( 255, 255, 255, 0.18 );
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} 
@layer components {
    .fullview {
        @apply w-screen h-screen
    }

    .fullscreen {
        @apply w-full h-full
    }

    .center {
        @apply flex flex-row justify-center items-center
    }

    .yellowT {
        @apply text-[#ffcb05]    
    }

    .orangeT {
        @apply text-[#ef8f30]
    }
    .greenT {
        @apply text-[#38d832]
    }
    .descriptionText {
        @apply font-rsCL text-[.25rem] phone:text-[.40rem] midPhone:text-[60.rem] bigPhone:text-[.70rem] tablet:text-[.80rem] laptop:text-[1rem] fullhd:text-[1.4rem]  textShadow
    }

    .sideText {
        @apply font-rsCL text-[6px] phone:text-[13px]  tablet:text-[16px] laptop:text-[16px] fullhd:text-[18px] text-center leading-[10px] tablet:leading-[12px] laptop:leading-4 textShadow
    }
    
    .mainText{
        @apply font-rsCL text-[.25rem] smallPhone:text-[.35rem] phone:text-[.50rem] midPhone:text-[.65rem] bigPhone:text-[.80rem]  tablet:text-[1.2rem] laptop:text-[1.5rem] fullhd:text-[1.7rem]  textShadow
    }

    .bigText {
        @apply text-[.50rem] smallPhone:text-[.80rem] phone:text-[1.4rem] bigPhone:text-[2.5rem] tablet:text-[3rem] laptop:text-[4rem] fullhd:text-[5rem]
    }
}

.textshadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.menu-font {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'rs';
    src: url("/fonts/runescape.ttf");
}
@font-face {
    font-family: 'rsIN';
    src: url("/fonts/runescape_large.ttf");
}

@font-face {
    font-family: 'rsCL';
    src:  url('/fonts/RuneScape.woff2') format('woff2'), url('/fonts/RuneScape.woff') format('woff');
}

.textShadow {
    text-shadow: 0px 1.2px #100d0d;
}


.skeu {
    box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    border: 1px solid gray
}

.shadowS1 {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}