.shaped {
    position: relative;
    overflow: hidden;
}

.shaped::before,
.shaped::after {
    content: "";
    position: absolute;
    width: 1vw;  /* Reducido a 1vw */
    height: 1vw; /* Mantenemos la proporción cuadrada */
    transform: rotate(45deg);
    background-color: white;
    margin: -0.5vw; /* La mitad del tamaño para el posicionamiento */
}

.shaped::before {
    left: 0;
    top: 0;
}

.shaped::after {
    right: 0;
    top: 0;
}


.texturedBg {
    background-color: #68371a;
    background-image: url("/Sprites/rockywall.png");
    background-color: #512b15; /* Color semitransparente */
    background-blend-mode: overlay; /* Mezcla el color con la imagen */
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}

.inshaped {
    clip-path: polygon(4% 0, 96% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
}


.textShadow2 {
    text-shadow: 0px 2px #100d0d;
}

/* Para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 1600px) {
    .textShadow2 {
        text-shadow: 0px 1.2px #100d0d; /* Cambia el tamaño de la sombra */
    }
}

/* Para pantallas medianas (por ejemplo, tablets) */
@media (max-width: 1024px) {
    .textShadow2 {
        text-shadow: 0px 0.6px #100d0d; /* Ajusta la sombra */
    }
}


