<section class="shaped bg-[url('/Sprites/textureNew.png')] bg-repeat bg-cover w-full  h-[10%] p-[1px] phone:p-[2px] tablet:p-[3px] laptop:p-[4px]  ">
    <div class="texturedBg inshaped fullscreen flex gap-2">
        <div class="desktop: w-[14%] ml-2 p-[1px] tablet:p-0.5">
            <img [src]="option?.imageUrl" class="fullscreen"/>
        </div>
        <div class=" h-full center">
            <p class="font-rsIN text-[0.5rem] phone:text-[0.9rem] tablet:text-lg fullhd:text-2xl text-[#f1c006] textShadow2">{{option.description.toUpperCase()}}</p>
        </div>
        
    </div>

</section>
