<section class="fullscreen center">
    <div class="bg-[url('/Sprites/sidebar-header.png')] bg-cover w-[10%] h-[10%]"></div>

    <section class="h-[95%] w-[100%] bg-[#0a1f29a4] relative overflow-y-scroll">
        <div class="bg-[#0a1f29] fullscreen shadowS1 border-[1px] border-amber-400 rounded-sm">
            <iframe class="fullscreen " src="/resume/CV_Ariel_Alvaro_English.pdf#zoom=60" type="application/pdf" title="Ariel Alvaro">
                
            </iframe>
        </div>
        
    </section>

    <div class="bg-[url('/Sprites/sidebar-header.png')] bg-cover w-[10%] h-[10%] rotate-180 "></div>
</section>